body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

#donation {
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
}

#donation h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#donation p {
    font-size: 18px;
    margin-bottom: 30px;
}

.donation-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.donation-option {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.donation-option h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.donation-option p {
    font-size: 16px;
}

.donation-benefits {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}

.donation-benefits h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.donation-benefits ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
}

.donation-button {
    margin-top: 20px;
}

.btn1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn1:hover {
    background-color: #0056b3;
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #252729;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn2:hover {
    background-color: #505356;
}